<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{theme.meta.enable} || {theme.language.enable} || {theme.copyright.enable} || {theme.socialmedia.enable}">
    <section class="section footer-section footer-section-meta">
        <div class="frame frame-background-none frame-space-before-none frame-space-after-none">
            <div class="frame-container">
                <div class="frame-inner">
                    <div class="row pt-4">
                        <div class="col-md-4">
                            AFRA BIO s. r. o. <br />
                            Michala Hlaváčka 21<br />
                            054 01 Levoča
                        </div>
                        <div class="col-md-4">
                            <ul class="">
                                <f:for each="{footernavigation}" as="footerLink">
                                    <li><f:link.page pageUid="{footerLink.data.uid}">{footerLink.title}</f:link.page></li>
                                </f:for>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <br /><br />
                            <a href="https://www.runit.sk" target="_blank">webstránka v TYPO3</a>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>
</f:if>
</html>
