.top_menu {
  clear: both;
  float: none;
  position: relative; }
  .top_menu > span {
    color: #2e1532;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .top_menu > span:after {
      font: 400 25px/1 "fl-outicons";
      content: "\e02e";
      display: inline-block;
      font-weight: normal; }
    .top_menu > span:hover {
      color: #009846; }

@media only screen and (max-width: 1199px) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px; } }
.top_menu > ul, .top_menu .stickUpHolder > ul {
  padding: 0;
  text-align: center; }
  .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
    display: inline-block; }
    .top_menu > ul > li > a, .top_menu > ul > li > .top-level-menu-li-span, .top_menu .stickUpHolder > ul > li > a, .top_menu .stickUpHolder > ul > li > .top-level-menu-li-span {
      display: block;
      color: #2e1532;
      font: 700 20px/1.3 "Ubuntu", sans-serif;
      letter-spacing: 0.7px;
      padding: 0 1px 2px;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      @media (min-width: 767px) {
        .top_menu > ul > li > a:after, .top_menu > ul > li > .top-level-menu-li-span:after, .top_menu .stickUpHolder > ul > li > a:after, .top_menu .stickUpHolder > ul > li > .top-level-menu-li-span:after {
          background: #2e1532;
          bottom: 0;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          opacity: 1;
          margin: auto;
          position: absolute;
          right: 0;
          width: 0;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -webkit-transition: 0.3s;
          transition: 0.3s; } }
      .top_menu > ul > li > a.sf-with-ul, .top_menu > ul > li > .top-level-menu-li-span.sf-with-ul, .top_menu .stickUpHolder > ul > li > a.sf-with-ul, .top_menu .stickUpHolder > ul > li > .top-level-menu-li-span.sf-with-ul {
        position: relative; }
        .top_menu > ul > li > a.sf-with-ul:before, .top_menu > ul > li > .top-level-menu-li-span.sf-with-ul:before, .top_menu .stickUpHolder > ul > li > a.sf-with-ul:before, .top_menu .stickUpHolder > ul > li > .top-level-menu-li-span.sf-with-ul:before {
          bottom: -17px;
          color: #2e1532;
          content: "\f107";
          display: inline-block;
          font: 400 18px/1 "FontAwesome";
          margin-left: -5px;
          left: 50%;
          position: absolute;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
    @media (max-width: 767px) {
      .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
        padding: 0px 30px; }
        .top_menu > ul > li + li > a, .top_menu .stickUpHolder > ul > li + li > a {
          border-top: 1px solid #ebebeb; }
        .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
          color: #2e1532;
          padding: 15px 0; } }
    .top_menu > ul > li:hover > a:after, .top_menu > ul > li.sfHover > a:after, .top_menu > ul > li.sfHoverForce > a:after, .top_menu > ul > li > a:hover:after, .top_menu > ul > li:hover > .top-level-menu-li-span:after, .top_menu > ul > li.sfHover > .top-level-menu-li-span:after, .top_menu > ul > li.sfHoverForce > .top-level-menu-li-span:after, .top_menu > ul > li > .top-level-menu-li-span:hover:after, .top_menu .stickUpHolder > ul > li:hover > a:after, .top_menu .stickUpHolder > ul > li.sfHover > a:after, .top_menu .stickUpHolder > ul > li.sfHoverForce > a:after, .top_menu .stickUpHolder > ul > li > a:hover:after, .top_menu .stickUpHolder > ul > li:hover > .top-level-menu-li-span:after, .top_menu .stickUpHolder > ul > li.sfHover > .top-level-menu-li-span:after, .top_menu .stickUpHolder > ul > li.sfHoverForce > .top-level-menu-li-span:after, .top_menu .stickUpHolder > ul > li > .top-level-menu-li-span:hover:after {
      width: 100%; }
    @media (max-width: 767px) {
      .top_menu > ul > li:hover > a, .top_menu > ul > li.sfHover > a, .top_menu > ul > li.sfHoverForce > a, .top_menu > ul > li > a:hover, .top_menu > ul > li:hover > .top-level-menu-li-span, .top_menu > ul > li.sfHover > .top-level-menu-li-span, .top_menu > ul > li.sfHoverForce > .top-level-menu-li-span, .top_menu > ul > li > .top-level-menu-li-span:hover, .top_menu .stickUpHolder > ul > li:hover > a, .top_menu .stickUpHolder > ul > li.sfHover > a, .top_menu .stickUpHolder > ul > li.sfHoverForce > a, .top_menu .stickUpHolder > ul > li > a:hover, .top_menu .stickUpHolder > ul > li:hover > .top-level-menu-li-span, .top_menu .stickUpHolder > ul > li.sfHover > .top-level-menu-li-span, .top_menu .stickUpHolder > ul > li.sfHoverForce > .top-level-menu-li-span, .top_menu .stickUpHolder > ul > li > .top-level-menu-li-span:hover {
        color: #009846; } }
    .top_menu > ul > li:hover > span.menu-mobile-grover:before, .top_menu .stickUpHolder > ul > li:hover > span.menu-mobile-grover:before {
      color: #009846; }
    @media (min-width: 767px) {
      .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
        display: inline-block;
        margin-left: 22px;
        margin-right: 22px; } }
    .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
      min-width: 210px;
      padding: 20px 15px; }
      @media only screen and (min-width: 768px) {
        .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
          background: white;
          display: none;
          max-width: 240px;
          top: -1px;
          text-align: left;
          right: -200px;
          position: absolute;
          z-index: 99; } }
      @media only screen and (max-width: 767px) {
        .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
          background: white; } }
    .top_menu > ul > li > ul.is-simplemenu, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu {
      border-radius: 2px;
      left: 0;
      right: auto;
      top: 59px;
      -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 767px) {
      .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
        float: none;
        position: relative;
        width: 100%; }
        .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
          border-right: none; } }
.top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
      background: white;
      border-radius: 2px;
      display: none;
      left: 0px;
      max-width: 270px;
      position: absolute;
      top: 100%;
      width: 270px;
      z-index: 1;
      -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); } }
  @media (max-width: 479px) {
    .top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
      left: -30px; } }
.top_menu li.with_banner, .top_menu .stickUpHolder li.with_banner {
  padding: 15px 0; }
  .top_menu li.with_banner a, .top_menu .stickUpHolder li.with_banner a {
    position: relative;
    overflow: hidden;
    padding: 0 !important; }
    .top_menu li.with_banner a:after, .top_menu .stickUpHolder li.with_banner a:after {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(46, 21, 50, 0.4);
      transition: all 0.6s ease 0s;
      pointer-events: none; }
    .top_menu li.with_banner a .description, .top_menu .stickUpHolder li.with_banner a .description {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      color: white;
      text-align: center;
      text-transform: uppercase;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      .top_menu li.with_banner a .description h3, .top_menu .stickUpHolder li.with_banner a .description h3 {
        margin: 0 0 15px;
        padding: 0;
        font: 700 30px/1 "Ubuntu", sans-serif; }
      .top_menu li.with_banner a .description h4, .top_menu .stickUpHolder li.with_banner a .description h4 {
        margin: 0;
        padding: 0;
        font: 400 20px/1 "Ubuntu", sans-serif; }
      @media (max-width: 1199px) {
        .top_menu li.with_banner a .description h3, .top_menu .stickUpHolder li.with_banner a .description h3 {
          font-size: 26px; }
        .top_menu li.with_banner a .description h4, .top_menu .stickUpHolder li.with_banner a .description h4 {
          font-size: 18px; } }
      @media (max-width: 991px) {
        .top_menu li.with_banner a .description h3, .top_menu .stickUpHolder li.with_banner a .description h3 {
          font-size: 24px; }
        .top_menu li.with_banner a .description h4, .top_menu .stickUpHolder li.with_banner a .description h4 {
          font-size: 16px; } }
    .top_menu li.with_banner a img, .top_menu .stickUpHolder li.with_banner a img {
      width: 100%;
      transition: transform 0.7s linear;
      will-change: transform;
      -moz-transform: scale3d(1, 1, 1);
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }
    .top_menu li.with_banner a:hover img, .top_menu .stickUpHolder li.with_banner a:hover img {
      -moz-transform: scale3d(1.1, 1.1, 1);
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1); }
.top_menu li a, .top_menu .stickUpHolder li a {
  position: relative; }
.top_menu li.simple, .top_menu li li, .top_menu .stickUpHolder li.simple, .top_menu .stickUpHolder li li {
  position: relative; }
.top_menu li li a, .top_menu .stickUpHolder li li a {
  display: block;
  padding: 5px 0px;
  color: #009846; }
.top_menu li li.sfHover > a, .top_menu li li:hover > a, .top_menu li li.sfHoverForce > a, .top_menu .stickUpHolder li li.sfHover > a, .top_menu .stickUpHolder li li:hover > a, .top_menu .stickUpHolder li li.sfHoverForce > a {
  color: #2e1532; }
.top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
  position: absolute;
  top: -2px;
  right: -5px;
  z-index: 2;
  font-size: 10px;
  display: inline-block;
  background: #f00;
  color: white;
  padding: 1px 5px 2px 5px;
  line-height: 12px;
  border-radius: 3px;
  margin-left: 10px; }
  @media only screen and (max-width: 767px) {
    .top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
      right: auto;
      left: 5px; } }
.top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
  background: white;
  border-radius: 2px;
  display: none;
  padding: 0 15px;
  text-align: left;
  width: 100%;
  -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 768px) {
    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
      position: absolute;
      top: 59px;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); } }
  @media (max-width: 767px) {
    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
      padding-bottom: 0px;
      text-align: center; } }
  .top_menu .is-megamenu .megamenu-row, .top_menu .stickUpHolder .is-megamenu .megamenu-row {
    padding: 25px 20px 10px; }
  .top_menu .is-megamenu ul.content > li > a, .top_menu .stickUpHolder .is-megamenu ul.content > li > a {
    color: #a579ac;
    display: inline-block;
    font: 400 16px/1.2 "Ubuntu", sans-serif;
    padding: 5px 0;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .top_menu .is-megamenu ul.content > li > a:hover, .top_menu .stickUpHolder .is-megamenu ul.content > li > a:hover {
      color: #2e1532; }
  .top_menu .is-megamenu ul.content > li.sfHoverForce a, .top_menu .stickUpHolder .is-megamenu ul.content > li.sfHoverForce a {
    color: #2e1532; }
  .top_menu .is-megamenu ul.content ul, .top_menu .stickUpHolder .is-megamenu ul.content ul {
    opacity: 1 !important;
    display: block !important; }
.top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
  background: white;
  border-radius: 2px;
  color: #2e1532;
  cursor: pointer;
  display: none;
  font: 700 20px/1.3 "Ubuntu", sans-serif;
  padding: 17px 20px;
  position: relative;
  text-transform: uppercase;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .top_menu .menu-title:hover, .top_menu .stickUpHolder .menu-title:hover {
    color: #009846; }
  .top_menu .menu-title:after, .top_menu .stickUpHolder .menu-title:after {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 6px;
    top: 17px;
    font-size: 30px;
    width: 30px;
    z-index: 1;
    font-family: "material-design";
    content: "\e07b";
    display: inline-block;
    font-weight: normal; }
  .top_menu .menu-title.active:after, .top_menu .stickUpHolder .menu-title.active:after {
    content: '\e07c'; }
  @media only screen and (min-width: 768px) {
    .top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
      display: none; } }
.top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 30px;
  top: 20px;
  right: 25px;
  cursor: pointer;
  z-index: 1;
  font-family: "material-design";
  content: "\e07b";
  display: inline-block;
  font-weight: normal; }
  @media only screen and (min-width: 768px) {
    .top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
      display: none; } }
.top_menu .menu-mobile-grover.active:before, .top_menu .stickUpHolder .menu-mobile-grover.active:before {
  content: '\e07c'; }
@media only screen and (max-width: 767px) {
  .top_menu .is-simplemenu li .menu-mobile-grover:before, .top_menu .stickUpHolder .is-simplemenu li .menu-mobile-grover:before {
    top: 8px;
    right: 0;
    font-size: 18px; }
  .top_menu .is-simplemenu li a, .top_menu .stickUpHolder .is-simplemenu li a {
    display: block;
    font-size: 14px;
    padding: 8px 10px; }
  .top_menu .is-simplemenu li li a, .top_menu .stickUpHolder .is-simplemenu li li a {
    padding-left: 20px; }
  .top_menu .is-simplemenu li li li a, .top_menu .stickUpHolder .is-simplemenu li li li a {
    padding-left: 30px; }
  .top_menu .is-simplemenu li li li li a, .top_menu .stickUpHolder .is-simplemenu li li li li a {
    padding-left: 40px; }
  .top_menu li.simple ul, .top_menu .stickUpHolder li.simple ul {
    display: none; }
  .top_menu .megamenu-col.col-sm-3, .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
    float: none;
    width: 100%;
    padding: 0 0 25px; }
    .top_menu .megamenu-col.col-sm-3.first-in-line-sm, .top_menu .stickUpHolder .megamenu-col.col-sm-3.first-in-line-sm {
      clear: left; } }

.red {
  background: #f00; }

.menuvideowrapper {
  clear: both;
  float: none;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%; }

.menuvideowrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.frontend-map {
  min-height: 200px; }

/**** Left/Right column menu ****/
.left_column_menu .block_content li, .right_column_menu .block_content li {
  position: relative; }
.left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
  display: none; }
  @media only screen and (min-width: 768px) {
    .left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999; } }
  @media only screen and (max-width: 767px) {
    .left_column_menu .block_content li.simple ul li, .right_column_menu .block_content li.simple ul li {
      border-top: 1px solid #ccc;
      position: relative; }
      .left_column_menu .block_content li.simple ul li a, .right_column_menu .block_content li.simple ul li a {
        display: block;
        padding: 10px 0 10px 15px;
        position: relative; }
      .left_column_menu .block_content li.simple ul li li a, .right_column_menu .block_content li.simple ul li li a {
        padding-left: 25px; } }
.left_column_menu .block_content > ul > li, .right_column_menu .block_content > ul > li {
  border-top: 1px solid #ccc;
  position: relative; }
  .left_column_menu .block_content > ul > li > a, .right_column_menu .block_content > ul > li > a {
    display: block;
    padding: 10px 0;
    position: relative; }
  .left_column_menu .block_content > ul > li:first-child, .right_column_menu .block_content > ul > li:first-child {
    border: none; }
.left_column_menu .block_content span.menu_badge, .right_column_menu .block_content span.menu_badge {
  font-size: 10px;
  display: inline-block;
  background: #f00;
  color: #fff;
  padding: 1px 5px 2px 5px;
  line-height: 12px;
  border-radius: 3px;
  margin-left: 10px; }
.left_column_menu .block_content li.simple li a, .right_column_menu .block_content li.simple li a {
  padding: 4px 5px;
  display: block; }
.left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
  display: none; }
  .left_column_menu .block_content div.is-megamenu ul, .right_column_menu .block_content div.is-megamenu ul {
    display: block !important;
    opacity: 1 !important; }
    .left_column_menu .block_content div.is-megamenu ul.content > li > a, .right_column_menu .block_content div.is-megamenu ul.content > li > a {
      font-weight: bold;
      text-transform: uppercase; }
    .left_column_menu .block_content div.is-megamenu ul.content > li li, .right_column_menu .block_content div.is-megamenu ul.content > li li {
      padding-left: 5px; }
  @media only screen and (min-width: 768px) {
    .left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3 {
      width: 50%;
      float: left; }
      .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left; } }
.left_column_menu .block_content .menu-mobile-grover:after, .right_column_menu .block_content .menu-mobile-grover:after {
  position: absolute;
  right: 0;
  top: 12px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 15px;
  content: "\f067";
  font-family: 'FontAwesome';
  z-index: 1;
  cursor: pointer; }
.left_column_menu .block_content .menu-mobile-grover.active:after, .right_column_menu .block_content .menu-mobile-grover.active:after {
  content: "\f068"; }

.left_column_menu li.simple ul {
  right: -200px; }

.right_column_menu li.simple ul {
  left: -200px; }

.left_column_menu div.is-megamenu {
  right: -600px; }

.right_column_menu div.is-megamenu {
  left: -600px; }
